.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #3f4b62;
}

/* Styles for the navigation bar */
nav {
  background-color: #282c34;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Styles for navigation links */
nav a:hover {
  color: #61dafb;
}

span {
  color: white;
  font-weight: bold;
}
